footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  text-align: center;
}

.processDiv {
  display: none;
  color: white;
  border: 1px solid black;
  background-color: rgb(250, 250, 250, 0.3);
  text-align: center;
  width: 300px;
  position: fixed;
  top: 25%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 10px;
}

.processTextWrapper {
  margin: 5px;
}

.mainButtonDiv {
  text-align: center;
  position: fixed;
  top: 60%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.upperBar {
  position: fixed;
  top: -180px;
  left: 0%;
  background: rgb(250, 250, 250, 0.4);
  height: auto;
  width: 100%;
  box-shadow: 1px 0 15px 5px #888888;
  transition: top 1s;
}

.upperBarHover:hover {
  top: 0%;
}

.cellDisappear {
  opacity: 0;
  transition: opacity 1s;
}

.upperBarTableCells {
  background: #2d4d6d;
  text-align: center;
  height: 42px;
  width: 400px;
  border-radius: 15px;
  box-shadow: 1px 0 10px 3px #888888;
  cursor: pointer;
  font-weight: bold;
  color: white;
  transition: all 0.3s;
}

.upperBarTableCells:hover {
  background: #19314b;
}

.upperBarTableCellOwnText {
  position: fixed;
  right: 10%;
  text-align: center;
}

.upperBarGridWrap {
  display: grid;
  grid-template-columns: 50% 50%;
}

.optionTable {
  margin: 10px;
  border-spacing: 0 5px;
}

#mainButton {
  cursor: pointer;
  width: 300px;
  height: auto;
  border: 0px;
  background-color: #8d2eaaf8;
  border-radius: 10px;
  color: white;
  font-size: 1.2em;
  padding: 10px;
  transition: all 0.3s;
}

#mainButton:hover {
  background-color: #ab38cef8;
}

.ownTextWrap {
  text-align: center;
}

#ownTextInput {
  width: 300px;
  margin-top: 70px;
}

#ownTextSender {
  width: 80px;
  height: 40px;
  cursor: pointer;
  margin: 5px;
  border: 0px;
  background-color: #8d2eaaf8;
  border-radius: 10px;
  color: white;
  font-size: 1.2em;
  transition: all 0.3s;
}

#ownTextSender:hover {
  background-color: #ab38cef8;
}

.footerText {
  color: white;
}

html {
  background-image: url("content/pexels-miriam-espacio-110854.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
}

p,
span {
  font-family: Arial, Tahoma;
}

@media screen and (max-width: 1024px) {
  #ownTextInput {
    width: 200px;
  }
}
